<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.apple.itunes.ipa</string>
				<string>com.apple.mobileprovision</string>
				<string>com.apple.iphone.mobileprovision</string>
				<string>com.apple.provisionprofile</string>
				<string>com.apple.xcode.archive</string>
				<string>com.apple.application-and-system-extension</string>
				<string>com.apple.application-bundle</string>
				<string>com.opa334.trollstore.tipa</string>
				<string>dyn.ah62d4rv4ge81k4puqe</string>
				<string>com.apple.framework</string>
				<string>com.apple.mach-o-dylib</string>
				<string>com.apple.metadata-importer</string>
				<string>public.folder</string>
				<string>com.apple.xpc-service</string>
				<string>com.apple.coresimulator.simdevicetype</string>
				<string>com.apple.dt.ide.plug-in</string>
				<string>com.apple.dt.dvt.plug-in</string>
				<string>com.apple.plugin</string>
				<string>com.apple.generic-bundle</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>PreviewProvider</string>
	</dict>
</dict>
</plist>
